@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend{
  font-family: "Lexend", sans-serif;
}
.navigate{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #F9F7F3;
}